@import "../../../styles/variables.scss";
@import "../../../styles/typography.scss";

.customRadio {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $line;
    cursor: pointer;
    pointer-events: none;
  }

  &[data-is-checked="true"] {
    &::after {
      content: "";
      position: absolute;
      left: 8px;
      top: 8px;
      width: 10px;
      height: 10px;
      background-color: $off-white;
      outline: 8px solid $primary-default;
      border-radius: 50%;
      cursor: pointer;
      pointer-events: none;
    }
  }
}

.label {
  @extend .textSmall;
}

.input {
  border: 1px solid $line;
  width: 24px;
  height: 24px;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
