@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.text {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.displayLarge {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 1px;
  color: #14142b;
}

.displayMedium {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #14142b;
}

.displaySmall {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 1px;
  color: #14142b;
}

.displayLargeBold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 1px;
  color: #14142b;
}

.displayMediumBold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #14142b;
}

.displaySmallBold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 1px;
  color: #14142b;
}

.textLarge {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

.textMedium {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

.textSmall {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 24px !important;
  letter-spacing: 0.75px !important;
  color: #14142b;
}

.textXsmall {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #4e4b66;
}

.xSmallBold {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
}

.linkLarge {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #14142b;
}

.linkMedium {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #14142b;
}

.linkSmall {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #14142b;
}

.linkXsmall {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #14142b;
}

.mobileTextLarge {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

.mobileLinkSmall {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
}

.mobileLinkXsmall {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.25px;
}
