@import "../../../styles/variables.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/base.scss";

.input {
  @extend .textSmall;
  border: 2px solid $line;
  height: 40px;
  border-radius: 16px;
  padding: 0 12px;

  &:focus {
    border: 2px solid $primary-default;
  }

  &[data-is-error="true"] {
    border: 2px solid $error-default;
    animation: shake 0.3s;
    color: $error-default;

    &::placeholder {
      color: $error-default;
    }
  }
}
