//COLORS
$primary: #a72c2c;
$secondary: #eeff00;
$white: #ffffff;
$dark: rgb(40, 40, 40);;
$grey: #a8a3a3;
$lightGrey: #cac5c5;
$outline: #e2ecee;
$google: #DB4437;
$hoverSecondary: #e0ee24;
$hoverDark: #4e4444;
$secondaryHover: #72dd80;
$lightBlue: rgb(183, 204, 250);
$lightBlueHover: rgb(146, 176, 241);
$blue: rgb(62, 161, 253);
$darkBlue: rgba(19, 34, 241, 0.8);
$eventBg: rgba(0, 0, 0, 0.65);
$circle1: rgb(14, 13, 13);
$circle2: rgb(186, 197, 196);
$circle3: rgb(172, 33, 103);

//SIZES
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440pX;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    // border: 1px solid black;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: $lightBlue;
}

//LOGIN HOME

.login-wrapper{
    align-items: center;
    background-image: url("./img/web-2389250_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    @media (min-width: $tablet){
        align-items: flex-end;
    }
}

.login-container{
    width: 100%;
    background-color: #0000005c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    @media (min-width: $mobileL) {
        width: 65%;
        box-shadow: 20px 0 0 200px #0000005c;
    }
    @media (min-width: $tablet) {
        width: 45%;
        box-shadow: none;
    }
    @media (min-width: $laptop) {
        width: 30%;
    }
}

//!HEADER

.header{
    align-items: center;
    background: rgb(0, 132, 255);
    background: linear-gradient(90deg, rgb(62, 161, 253) 0%, rgb(78, 90, 255) 100%);
    display: flex;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
    h2{
        color: $white;
        font-weight: 100;
        line-height: 10vh;
        padding-left: 10px;
    }
}

//!PROFILE PHOTO

.profile-photo {
    background-image: url("https://i.wpimg.pl/450x0/i.wp.pl/a/f/film/033/93/28/0452893.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 40px;
    margin: 5px 12px 5px 10px;
    width: 40px;

    &--mid{
        height: 60px;
        width: 60px;
    }
}

//!SIDE BAR

.side-bar{
    background-color: $lightBlue;
    border-bottom: 1px solid $grey;
    border-left: 1px solid $grey;
    width: 300px;
    height: 400px;
    position: absolute;
    right: 0;
    transform: translateX(300px);
    top: 0;
    z-index: 1;
    
    &--active{
        transform: translateX(0);
    }
}

//!HAMBURGER

.hamburger{
    background-color: transparent;
    cursor: pointer;
    height: 45px;
    padding: 5px;
    position: absolute;
    right: 305px;
    transition: opacity .3s;
    top: 3px;
    width: 50px;
    &:hover{
        opacity: .6;
    }

    &--active{
        transform: translateX(50px);
    }
}

.hamburger__box{
    height: 100%;
    position: relative;
    width: 100%;
}

@mixin hamburger-line {
    border-radius: 2px;
    background-color: $white;
    height: 2px;
    position: absolute;
    width: 100%;
}

.hamburger__line{
    top: calc(50% - 1px);

    @include hamburger-line();
}

.hamburger__line::after,
.hamburger__line::before{
    content: "";
    left: calc(50% - 20px);

    @include hamburger-line();
}

.hamburger__line::after{
    top: 8px;
}

.hamburger__line::before{
    top: -8px;
}

.hamburger--active .hamburger__line{
    background-color: transparent;
}
.hamburger--active .hamburger__line::after{
    transform: translateY(-8px) rotate(-45deg);
}
.hamburger--active .hamburger__line::before{
    transform: translateY(8px) rotate(45deg);
}

//!LOGIN

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input{
    border-radius: 5px;
    width: 90%;
    height: 35px;
    outline: none;
    border: none;
    color: $dark;
    background-color: $outline;
    padding-left: 10px;
    margin-top: 20px;
}

//LOGIN BUTTONS

.google-btn{
    border-radius: 5px;
    width: 90%;
    height: 35px;
    outline: none;
    border: none;
    color: $primary;
    background-color: $outline;
    padding-left: 10px;
    margin-top: 20px;
    line-height: 35px;
    cursor: pointer;
    transition: background-color .5s;
    i{
        font-size: 16px;
        padding-right: 10px;
        color: $google;
    }
    &:hover{
        background-color: $white;
    }
}

.main-btn{
    height: 25px;
    width: 120px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: $secondary;
    color: $dark;
    cursor: pointer;
    transition: background-color .3s;
    &:hover{
        background-color: $hoverSecondary;
    }
}
.login{
    margin-top: 40px;
}

.forgotten-password-btn {
    padding: 5px;
    color: $secondary;
    font-weight: 500;
    margin-top: 20px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.create-account-btn{
    font-size: 20px;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    background-color: $lightBlue;
    transition: background-color .3s;
    a{
        color: $dark;
        text-decoration: none;
    }
    &:hover{
        background-color: $primary;
    }
}

//!HOME

.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

//!CALENDAR

.calendar{
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    width: 100%;
    @media (min-width: $mobileL) {
        width: 90%;
    }
    @media (min-width: $tablet) {
        width: 80%;
    }
    @media (min-width: $laptop) {
        width: 70%;
    }
}

.calendar__container{
    width: 100%;
    background: rgb(19,35,241);
    background: linear-gradient(45deg, rgba(19, 34, 241, 0.8) 0%, rgba(0, 132, 255, 0.7) 100%);
}

.calendar__week{
    color: $white;
    display: flex;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    width: 100%;
    div{
        width: 15%;
    }
    @media (min-width: $laptop) {
        display: none;
    }

    &--deskop{
        display: none;
        @media (min-width: $laptop){
            display: flex;
        }
    }
}

.calendar__days-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

//!CALENDAR HEADER

.calendar-header{
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    p{
        font-size: 20px;
        font-weight: 300;
        color: $white;
    }
}

.calendar-header__btn{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
    i{
        font-size: 16px;
        color: $white;
    }
}

//!DAY

.day{
    border-left: none;
    color: $white;
    font-weight: 300;
    height: 100px;
    padding: 5px;
    &:hover{
        background-color: $dark;
        color: $outline;
    }

    &--padding{
        &:hover{
            background-color: transparent;
        }
    }
    &--current{
        background-color: $outline;
        color: $dark;
    }
}

.day__event-container{
    width: 100%;
    height: 67px;
    overflow-y: hidden;
}

//!EVENT MODULE

.event-module{
    background-color: $eventBg;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    min-height: 20px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.event-module__container{
    width: 350px;
}

.event-module__form{
    background-color: $lightBlue;
    border-radius: 5px;
    color: $dark;
    position: relative;
    font-weight: 500;
    position: relative;
    top: calc(50% - 180px);
    width: 100%;
    z-index: 1;
    div{
        align-items: center;
        display: flex;
        color: $dark;
        i{
            font-size: 20px;
            margin: 0 10px 0 20px;
            color: $dark;
        }
    }
}

//!MODULE-HEADER

.module-header{
    align-items: center;
    border-bottom: 1px solid $dark;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    p{
        font-weight: 500;
        color: $dark;
    }
}

.module-header__profile{
    align-items: center;
    border-bottom: 1px solid $dark;
    display: flex;
    p{
        font-weight: 500;
    }
}

//!set event

.set-event{
    margin-top: 15px;
    position: relative;
}

.set-event__select{
    position: absolute;
    top: 0;
    right: 55px;
    width: 100px;
    height: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    border: 1px solid $dark;
    overflow-y: hidden;
    i{
        color: $dark;
    }

    &--active{
        i{
            transform: rotate(180deg);
        }
    }
}

.set-event__select__option{
    height: 20px;
    width: 100%;
    padding: 0 10px 0 10px;
    background-color: $white;
    transition: all .3s;
    p{
        color: $dark;
    }
    &:hover{
        background-color: $blue;
        color: $white;
    }

    &--title{
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        p{
            color: $dark;
        }
        &:hover{
            background-color: $lightBlueHover;
            border: none;
            color: $white;
        }
    }
}

//!add category

.add-category{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    p{
        margin-right: 20px;
    }
}

.add-category__form{
    flex-wrap: wrap;
    display: flex;
    margin: 5px 0 5px 20px;
}
.add-category__input{
    border: none;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
    width: 70%;

    &--input-color{
        border-left: none;
        border-right: 1px solid $grey;
        padding: 0 2px 0 0;
        width: 20%;
    }
}

.add-category__buttons{
    display: flex;
    width: 100%;
    button{
        margin-right: 10px;
        width: 60px;
    }
}

//!set time

.set-time {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.set-time__buttons{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.set-time__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 20px 0 4px;
    outline: none;
    width: 25px;
    i{
        font-size: 14px;
        margin-right: 40px;
    }
}
.event-form__clock{
    margin-top: 15px;
}

//!timer

.timer{
    display: flex;
    align-items: center;
    margin: 10px 0 15px 0;
    p{
        margin-right: 5px;
    }
}

.timer__btn{
    background-color: transparent;
    margin-left: 8px;
    border: none;
    outline: none;
    width: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    i{
        font-size: 25px;
    }
}

.event-module__button{
    background-color: transparent;
    border: 1px solid $dark;
    color: $dark;
    border-radius: 3px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    transition: all .3s;
    width: 60px;

    &:hover{
        background-color: $lightBlueHover;
        border: none;
        color: $dark;
        i{
            color: $dark;
        }
    }

    &--add{
        width: 90%;
        margin-bottom: 20px;
    }
}
.event-module__add{
    width: 100%;
    display: flex;
    justify-content: center;
}

.exit-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    i{
        color: $dark;
        font-size: 20px;
        transition: transform .3s;
        &:hover{
            transform: rotate(-90deg);
        }
    }
}

//!EVENT CARDS

.event-cards{
    position: relative;
    background: $lightBlue;
    background: linear-gradient(45deg, $blue 0%, $lightBlue 100%);
    z-index: 1;
    max-width: 100%;
    border-radius: 5px;
    padding-bottom: 40px;
    @media (min-width: $mobileL) {
        max-width: 90%;
    }
    @media (min-width: $tablet) {
        max-width: 80%;
    }
    @media (min-width: $laptop) {
        max-width: 70%;
    }
}

.event-cards__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $eventBg;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.profile-container__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid $dark;
    p{
        color: $dark;
    }
}

.profile-container__name{
    display: flex;
    align-items: center;
    color: $white;
}

.profile-container{
    display: flex;
}

.day-events__time{
    margin-right: 10px;
    display: flex;
    p{
        font-weight: 300;
        color: $dark;
    }
    i{
        margin-right: 10px;
        font-size: 20px;
        color: $dark;
    }
}

//!CARD ELEMENT

.card-element{
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 170px;
    margin: 10px 0 0 10px;
    width: 150px;
}

.event-cards__container{
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    min-width: 330px;
    max-height: 360px;
    @media(min-height: 360px){
        overflow-y: auto;
    }
}


.card-element__stats{
    display: flex;
    font-weight: 300;
    padding: 10px;
    i{
        margin-right: 15px;
        font-size: 16px;
    }
    p{
        font-size: 16px;
        margin-right: 10px;
    }
}

.card-element__btn{
    width: 90%;
    margin: auto;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $grey;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    &:hover{
        background-color: $lightBlue;
        border: none;
    }
}   

.card-element{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    transition: background-color .3s;
    margin-right: 10px;
    &:hover{
        background-color: $white;
    }
}

.new-card{
    position: relative;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    border: 4px solid $grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-card__cross{
    position: absolute;
    width: 8px;
    height: 100px;
    border-radius: 2px;
    background-color: $grey;

    &--horizontal{
        position: absolute;
        transform: rotate(90deg);
    }
}


//!EVENT ELEMENT

.event-element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20px;
    border-radius: 3px;
    margin-top: 2px;
    font-size: 12px;
    overflow: hidden;
    padding: 3px;
    p{
        font-size: 12px;
        color: black;
        font-weight: 300;
    }

    &--more-events{
        // border: 1px solid $outline;
        color: $dark;
        background-color: $outline;
    }
}

//!ERRORS

.error{
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
}
.time-error{
    font-size: 12px;
    color: red;
    margin-left: 20px;
    margin-top: 5px;
}

//!STATISTICS

.bar-chart__wrapper{
    width: 100%;
    @media (min-width: $mobileL) {
        width: 90%;
    }
    @media (min-width: $tablet) {
        width: 80%;
    }
    @media (min-width: $laptop) {
        width: 70%;
    }
}

.bar-chart__container{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    p{  
        position: sticky;
        top: 10px;
        left: 0;
        margin-top: 20px;
        font-weight: 300;
    }
    &::-webkit-scrollbar {
        height: 8px;
      }
    &::-webkit-scrollbar-track {
        background: $white;
    }
    &::-webkit-scrollbar-thumb {
        background: $dark;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $grey;
    }
}

.bar-chart{
    height: 100%;
    min-width: 550px;
    @media (min-width: $tablet) {
        min-width: 100%;
    }
}

//!selectors

.select__container{
    padding: 0 30px 0 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    position: relative;
    p{
        font-weight: 300;
        margin-bottom: 5px;
    }
}

.select{
    width: 200px;
    height: 500px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1;
    background-color: $lightBlue;
    border: 1px solid $white;

    &--active{
        height: 150px;
        i{
            transform: rotate(180deg);
        }
    }
}

.select__option{
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 30px;
    width: 100%;
    p{
        margin-left: 10px;
        font-weight: 300;
    }
    i{
        margin-right: 10px;
    }
    &:hover{
        background-color: $lightBlueHover;
    }

    &--title{
        justify-content: space-between;
        // border: 1px solid $white;
    }
}

.bar-chart__paragraph{
    margin: 50px 5px 50px 5px;
    font-weight: 300;
    font-size: 20px;
}

.pie-chart{
    width: 100%;
    height: 80vh;
    @media (min-width: $mobileL) {
        width: 90%;
    }
    @media (min-width: $tablet) {
        width: 80%;
    }
    @media (min-width: $laptop) {
        width: 70%;
    }
}